anthropic
voyageai

langchain
langchain-community
langchain-text-splitters

faiss-cpu

pymupdf
python-docx

fastapi
uvicorn

streamlit

python-dotenv

numpy
pandas

tqdm

pydantic

requests

tiktoken
pymupdf
python-docx
markdown
beautifulsoup4

langchain-text-splitters
tiktoken

voyageai
openai
numpy
tqdm
faiss-cpu
psycopg2-binary
pgvector

